# 1.1 - Data Assessing and Data Cleaning

___

## Project Workflow


1.0) Geological Setting and Mineral Disponibility 

**1.1) Data Assessing and Data Cleaning**

1.2) Exploratory Data Analysis & Geostats

2.1) Spatial Analysis

2.2) Hydrograph Basins Delimitations

2.3) Correlation between basins and samples

3.0) Conclusion
___

## Table Of Contents

[a) Importing Libraries](#il)

[b) Importing File](#if)

[c) Data Assessing](#da)

[d) Data Cleaning](#dc)

<a name="il"></a>
## Importing Libraries

In [112]:
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
from shapely import geometry
import matplotlib.pyplot as plt

%matplotlib inline

<a name="if"></a>
## Importing File

In [113]:
df = pd.read_csv('pontos.csv', sep =';')
pontos = df.copy()
pontos.head()

,Estação,N__Lab_,Long__X_,Lat__Y_,Folha,Ag (ppm),Al (%),As (ppm),Au (ppm),B (ppm),...,Ta (ppm),Te (ppm),Th (ppm),Ti (%),U (ppm),V (ppm),W (ppm),Y (ppm),Zn (ppm),Zr (ppm)
0,AC-0002,CDE225,248757,7972050,Coromandel,0.03,2.63,4,<0.1,<10,...,<0.05,0.06,7.4,0.03,0.70,73,0.3,13.15,27,6.3
1,AC-0003,CDE226,244460,7973135,Coromandel,0.02,1.93,2,<0.1,<10,...,<0.05,0.14,8.2,0.06,0.94,58,0.3,23.90,58,6.9
2,AC-0004,CDE227,244044,7970217,Coromandel,0.04,1.47,3,<0.1,<10,...,<0.05,0.08,5.4,0.04,0.65,55,0.2,10.40,34,1.8
3,AC-0005,CDE228,242895,7970593,Coromandel,0.05,1.72,23,<0.1,<10,...,<0.05,<0.05,6.9,0.04,1.01,66,0.7,9.34,27,4.1
4,AC-0006,CDE229,242999,7971416,Coromandel,0.04,0.97,7,<0.1,<10,...,<0.05,<0.05,5.7,0.05,0.82,41,0.4,7.45,28,1.5

<a name="da"></a>
## Data Assessing

In [114]:
pontos.sample(10)

,Estação,N__Lab_,Long__X_,Lat__Y_,Folha,Ag (ppm),Al (%),As (ppm),Au (ppm),B (ppm),...,Ta (ppm),Te (ppm),Th (ppm),Ti (%),U (ppm),V (ppm),W (ppm),Y (ppm),Zn (ppm),Zr (ppm)
300,BM0046,CDP 490,237579,7945520,Monte Carmelo,<0.01,0.97,5,<0.1,<10,...,<0.05,<0.05,118.0,0.05,9.41,27,0.2,29.06,28,6.1
99,SM-0126,CDE053,259945,7957213,Coromandel,0.05,1.87,3,26.9,<10,...,0.07,0.08,5.5,0.02,0.51,82,0.5,14.03,47,23.9
405,MR0022,CDP 669,268621,7925680,Monte Carmelo,<0.01,0.87,3,<0.1,<10,...,0.23,<0.05,16.7,0.06,2.28,30,<0.1,10.07,21,6.7
622,MR-0230A,CDI 238,310091,7934642,Patos de Minas,0.02,0.66,2,<0.1,<10,...,<0.05,<0.05,5.1,<0.01,0.58,24,<0.1,2.02,7,4.2
248,AC0015,CDP 425,246350,7938073,Monte Carmelo,<0.01,1.71,3,<0.1,<10,...,<0.05,<0.05,18.9,0.02,1.92,26,<0.1,8.78,20,7.8
567,LG-0030A,CDE368,319688,7898870,Patos de Minas,0.17,2.46,16,<0.1,<10,...,<0.05,0.11,7.5,0.04,1.24,89,0.4,6.07,14,15.1
214,SM-0085,CDE014,333541,7964586,Lagamar,0.1,1.75,3,<0.1,<10,...,<0.05,<0.05,10.5,0.18,1.31,104,<0.1,12.24,60,47.7
460,AC-0064,CDI 148,292850,7934800,Patos de Minas,0.05,1.90,3,<0.1,<10,...,<0.05,0.07,6.4,<0.01,0.69,41,2.4,1.89,5,2.6
100,SM-0127,CDE054,261571,7957589,Coromandel,0.04,1.29,2,0.6,<10,...,<0.05,<0.05,4.7,0.05,0.48,81,0.4,8.20,47,35.3
113,TC-0026,CDI 142,262815,7977271,Coromandel,0.08,1.69,6,<0.1,<10,...,<0.05,0.11,3.4,0.02,0.49,50,0.9,8.78,43,5.9

In [115]:
pontos.shape

(709, 56)

In [116]:
pontos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 56 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Estação     709 non-null    object
 1   N__Lab_     709 non-null    object
 2   Long__X_    709 non-null    int64
 3   Lat__Y_     709 non-null    int64
 4   Folha       709 non-null    object
 5   Ag (ppm)    709 non-null    object
 6   Al (%)      709 non-null    float64
 7   As (ppm)    709 non-null    object
 8   Au (ppm)    709 non-null    object
 9   B (ppm)     709 non-null    object
 10  Ba (ppm)    709 non-null    object
 11  Be (ppm)    709 non-null    object
 12  Bi (ppm)    709 non-null    float64
 13  Ca (%)      709 non-null    object
 14  Cd (ppm)    709 non-null    object
 15  Ce (ppm)    709 non-null    float64
 16  Co (ppm)    709 non-null    float64
 17  Cr (ppm)    709 non-null    int64
 18  Cs (ppm)    709 non-null    float64
 19  Cu (ppm)    709 non-null    float64
 20  Fe (%)      709 non-null    object
 21  Ga (ppm)    709 non-null    float64
 22  Ge (ppm)    709 non-null    object
 23  Hf (ppm)    709 non-null    object
 24  Hg (ppm)    709 non-null    object
 25  In (ppm)    709 non-null    object
 26  K (%)       709 non-null    object
 27  La (ppm)    709 non-null    float64
 28  Li (ppm)    709 non-null    object
 29  LREE (ppm)  709 non-null    float64
 30  Mg (%)      709 non-null    object
 31  Mn (ppm)    709 non-null    int64
 32  Mo (ppm)    709 non-null    float64
 33  Na (%)      709 non-null    object
 34  Nb (ppm)    709 non-null    float64
 35  Ni (ppm)    709 non-null    float64
 36  P (ppm)     709 non-null    object
 37  Pb (ppm)    709 non-null    float64
 38  Rb (ppm)    709 non-null    float64
 39  Re (ppm)    709 non-null    object
 40  S (%)       709 non-null    object
 41  Sb (ppm)    709 non-null    float64
 42  Sc (ppm)    709 non-null    float64
 43  Se (ppm)    709 non-null    object
 44  Sn (ppm)    709 non-null    object
 45  Sr (ppm)    709 non-null    object
 46  Ta (ppm)    709 non-null    object
 47  Te (ppm)    709 non-null    object
 48  Th (ppm)    709 non-null    float64
 49  Ti (%)      709 non-null    object
 50  U (ppm)     709 non-null    float64
 51  V (ppm)     709 non-null    int64
 52  W (ppm)     709 non-null    object
 53  Y (ppm)     709 non-null    float64
 54  Zn (ppm)    709 non-null    int64
 55  Zr (ppm)    709 non-null    object
dtypes: float64(19), int64(6), object(31)
memory usage: 310.3+ KB

In [117]:
#looking for duplicated 
pontos.duplicated().sum()

0

<a name="dc"></a>
## Data Cleaning 

`1.` Tidiness Issues

- Change columns dtypes

    - Make a pattern for numbers below a certain value (e.g. <10 ppm)
    
- Filter the dataframe to only elements with high mobility
 
- Rename `Long__X_` and `Lat__Y_` columns

In [118]:
pontos.rename(columns = {'Long__X_':'X', 'Lat__Y_':'Y'},inplace = True)
pontos.head(1)

,Estação,N__Lab_,X,Y,Folha,Ag (ppm),Al (%),As (ppm),Au (ppm),B (ppm),...,Ta (ppm),Te (ppm),Th (ppm),Ti (%),U (ppm),V (ppm),W (ppm),Y (ppm),Zn (ppm),Zr (ppm)
0,AC-0002,CDE225,248757,7972050,Coromandel,0.03,2.63,4,<0.1,<10,...,<0.05,0.06,7.4,0.03,0.7,73,0.3,13.15,27,6.3

___

`2.` Quality Issues

- Check for the elements that are statistically significant (>= 50% in register)

- Remove `<` or `>` sign from numbers.

In [119]:
elements = pontos.columns[5:]

In [120]:
#creating an empty list
remove = []

#iterating all elements
for e in elements:
    try:
        #counting the number of occurrences that has < or >
        minus = pontos[e].str.count('<').sum()
        plus = pontos[e].str.count('>').sum()
        #checking the percentage
        validity = 1 - (((minus + plus))/pontos.shape[0])
        
        #if the value is less than 0.5, we must remove it
        if validity < 0.5:
            del_element = e
            print(f'Remove {e}, because its value in under the proper rate {validity:0.2f}')
            #creating a list with the elements we must remove.
            remove.append(del_element)
    except:
        pass

Remove Au (ppm), because its value in under the proper rate 0.01
Remove B (ppm), because its value in under the proper rate 0.02
Remove Ge (ppm), because its value in under the proper rate 0.31
Remove Na (%), because its value in under the proper rate 0.06
Remove Re (ppm), because its value in under the proper rate 0.00
Remove S (%), because its value in under the proper rate 0.30
Remove Se (ppm), because its value in under the proper rate 0.08
Remove Ta (ppm), because its value in under the proper rate 0.10
Remove Te (ppm), because its value in under the proper rate 0.39

In [121]:
#filtering the dataframe
pontos = pontos.drop(columns = remove)
pontos.head()

,Estação,N__Lab_,X,Y,Folha,Ag (ppm),Al (%),As (ppm),Ba (ppm),Be (ppm),...,Sn (ppm),Sr (ppm),Th (ppm),Ti (%),U (ppm),V (ppm),W (ppm),Y (ppm),Zn (ppm),Zr (ppm)
0,AC-0002,CDE225,248757,7972050,Coromandel,0.03,2.63,4,76,1,...,1.5,3.3,7.4,0.03,0.70,73,0.3,13.15,27,6.3
1,AC-0003,CDE226,244460,7973135,Coromandel,0.02,1.93,2,84,1.7,...,1.6,3.1,8.2,0.06,0.94,58,0.3,23.90,58,6.9
2,AC-0004,CDE227,244044,7970217,Coromandel,0.04,1.47,3,70,0.7,...,0.9,3.9,5.4,0.04,0.65,55,0.2,10.40,34,1.8
3,AC-0005,CDE228,242895,7970593,Coromandel,0.05,1.72,23,80,1.1,...,1.1,3.1,6.9,0.04,1.01,66,0.7,9.34,27,4.1
4,AC-0006,CDE229,242999,7971416,Coromandel,0.04,0.97,7,56,0.5,...,0.7,2.5,5.7,0.05,0.82,41,0.4,7.45,28,1.5

In [136]:
#next, let's take all < or > symbols, and convert all columns to float.

#creating another list of columns with all content that matters
all_cols = pontos.columns[5:]

#importing some extension apis for pandas to check the type of the column
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype


for col in all_cols:
    #if the column is numeric type, it'll pass
    if (is_numeric_dtype(pontos[col])):
        pass
    #if the column is string type, it'll remove symbols and the convert to float
    elif (is_string_dtype(pontos[col])):
        try:
            pontos[col] = pontos[col].str.replace('<','').astype('float')
        except:
            pontos[col] = pontos[col].str.replace('>','').astype('float')

The solution above was found in [this Stackoverflow post](https://stackoverflow.com/a/45568211/14649000), and was a very exquisite solution.

In [137]:
#checking if all corrections were made.
pontos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 47 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Estação     709 non-null    object
 1   N__Lab_     709 non-null    object
 2   X           709 non-null    int64
 3   Y           709 non-null    int64
 4   Folha       709 non-null    object
 5   Ag (ppm)    709 non-null    float64
 6   Al (%)      709 non-null    float64
 7   As (ppm)    709 non-null    float64
 8   Ba (ppm)    709 non-null    float64
 9   Be (ppm)    709 non-null    float64
 10  Bi (ppm)    709 non-null    float64
 11  Ca (%)      709 non-null    float64
 12  Cd (ppm)    709 non-null    float64
 13  Ce (ppm)    709 non-null    float64
 14  Co (ppm)    709 non-null    float64
 15  Cr (ppm)    709 non-null    int64
 16  Cs (ppm)    709 non-null    float64
 17  Cu (ppm)    709 non-null    float64
 18  Fe (%)      709 non-null    float64
 19  Ga (ppm)    709 non-null    float64
 20  Hf (ppm)    709 non-null    float64
 21  Hg (ppm)    709 non-null    float64
 22  In (ppm)    709 non-null    float64
 23  K (%)       709 non-null    float64
 24  La (ppm)    709 non-null    float64
 25  Li (ppm)    709 non-null    float64
 26  LREE (ppm)  709 non-null    float64
 27  Mg (%)      709 non-null    float64
 28  Mn (ppm)    709 non-null    int64
 29  Mo (ppm)    709 non-null    float64
 30  Nb (ppm)    709 non-null    float64
 31  Ni (ppm)    709 non-null    float64
 32  P (ppm)     709 non-null    float64
 33  Pb (ppm)    709 non-null    float64
 34  Rb (ppm)    709 non-null    float64
 35  Sb (ppm)    709 non-null    float64
 36  Sc (ppm)    709 non-null    float64
 37  Sn (ppm)    709 non-null    float64
 38  Sr (ppm)    709 non-null    float64
 39  Th (ppm)    709 non-null    float64
 40  Ti (%)      709 non-null    float64
 41  U (ppm)     709 non-null    float64
 42  V (ppm)     709 non-null    int64
 43  W (ppm)     709 non-null    float64
 44  Y (ppm)     709 non-null    float64
 45  Zn (ppm)    709 non-null    int64
 46  Zr (ppm)    709 non-null    float64
dtypes: float64(38), int64(6), object(3)
memory usage: 260.5+ KB

In [139]:
clean = pontos.copy()
clean.to_csv('OUTPUTS/CSV/pontos_data_cleaned.csv', sep = ';', index = False)

#### Removed Elements

A few elements were removed due to the fact that they'are not representative statisticaly.

|Element|
|-------|
|Ag|
|Au|
|B|
|Ge|
|Na|
|Re|
|S|
|Ta|
|Te|
|Ti|
|W|